.container {
    display: flex;
    flex-direction: row;
     align-items: center;
    justify-content: center; 
}
 


.container input {
width:200px;
height: 25px;
outline: none;
border:1px solid lightseagreen;
border-radius: 5px;
padding:5px 2px;
color:rgb(2, 37, 35);
font-size: 20px;

}

.container input:hover {
    border:2px solid lightseagreen;
}