:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
body {
  background: var(--clr-grey-10);
}

h3 {
  margin: auto auto auto 10px;
}

h4 {
  margin: auto 5px auto auto;
}

.Navbar {
  background-color: aqua;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

.filter {
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.sortFilter_container {
  display: flex;
  flex-direction: row;
}
.item_container {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
  border: 2px solid lightskyblue;
  border-radius: 5px;
}

.temp {
  display: flex;
  flex-direction: row;
  border: 1px solid lightslategray;
  border-radius: 5px;
  width: 250px;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: auto;
  font-size: 20px;
}

.increase_btn {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin: auto 10px auto 10px;
  font-size: 20px;
  padding-top: 1px;
}

.increase_btn:hover {
  background: rgb(107, 128, 245);
  color: white;
}
.decrease_btn {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin: auto 10px auto 10px;
  font-size: 20px;
  padding-top: 1px;
}

.decrease_btn:hover {
  background: rgb(237, 240, 86);
  color: white;
}

.delete_btn {
  width: 100px;
  margin: auto 5px auto 10px;
  height: 50px;
  color: var(--clr-red-dark);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}
.delete_btn:hover {
  background: var(--clr-red-dark);
  color: white;
}

.numberOfProduct {
  width: 30px;
  height: 30px;
  border: 1px solid lightseagreen;
  border-radius: 40%;
  background: rgb(109, 241, 137);
  text-align: center;
  margin: auto 10px auto 10px;
  padding-top: 6px;
}
